{{ form_start(form, {'attr': { 'style': 'display:inline-block;' }}) }}
{{ form_widget(form) }}
<button type="submit" class="cs-button large" style="border: none;background-color: #c12e2a !important;">
    Hủy tour
</button>
{{ form_end(form) }}