{% extends 'base.html.twig' %}

{% block title %}Thanh toán hoàn tất{% endblock %}

{% block body %}
    <div class="main-section">
        <div class="page-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="cs-error-content">
                            <p>{{ content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}