<li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="cs-testimonial">
        <div class="author-detail">
            <div class="cs-media">
                <strong class="author-name">
                    <span>{{ comment.user.lastname ~ comment.user.firstname }}</span>
                </strong>
            </div>
        </div>

        <div class="question-mark">
            <p>{{ comment.content }}</p>
        </div>
    </div>
</li>