<ul class="cs-list-highlights">
    <li><a href="#overview">{{ 'tour_detail.overview'|trans }}</a></li>
    <li><a href="#gallery">{{ 'tour_detail.gallery'|trans }}</a></li>
    <li><a href="#reviews">{{ 'tour_detail.reviews'|trans }}</a></li>
</ul>